table.center {
  margin-left:auto;
  margin-right:auto;
}


title_medium {
  color: #1F048B;
  font-size: 28px;
  font-weight: bold;
}

body {
  font-size: 18px;
  color: #373A3A;
}

iframe {
  border: 1px solid black;
  width: 100%;
  height: 520px;
}

.button4 {
  display: inline-block;
  padding: 0.375em 1.5em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}

