<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
</div>


<div class="container" *ngIf="currentView==-1">
  <h1 style="text-align: center;"><strong><span style="color: #ff6600;">Thank you for your time!</span></strong></h1>
  <h3 style="text-align: center;"><span style="color: #000080;"><strong>Please return the HIT.</strong></span></h3>
</div>

<div class="container" *ngIf="currentView==0">

  <div style="text-align: center;">
    <br>
    <h1>Informed Consent</h1>
    <br> <br>

    <iframe id="consent_iframe_id" src="https://sarnelab.cs.biu.ac.il/InformedConsent"></iframe>
    <button id="agree_button_id" type="submit" class="button4" style="background-color:#4ef18f"
            (click)="continueToNextView()">I Agree
    </button>
    <button id="disagree_button_id" type="submit" class="button4" style="background-color:#f14e4e"
            (click)="goToDisagreePage()">I do not agree
    </button>

  </div>

</div>

<div *ngIf="currentView == 1" style="text-align:center; align:center;">
  <h1 style="text-align:center; align:center;">Game Background:</h1>
  <table class="center" style="text-align:center; align:center;">
    <tr>
      <td>In this game you need to identify <b>ducks</b> out of an assortment of animals presented to you.</td>
    </tr>
    <tr>
      <td>You will be presented with four animal pictures that will change from time to time, for example:</td>
    </tr>
    <tr>
      <td><img id="ScreenShotNoDuck" src='../assets/Images/ScreenShotNoDuck.jpg'/></td>
    </tr>
    <tr>
      <td>At times, one of the pictures may switch to a duck:</td>
    </tr>
    Here is what a duck looks like:
    <tr>
      <td><img id="ScreenShotDuck" style="width: 64px; height: 54px" src='../assets/Images/46.jpg'/></td>
    </tr>
    <!--Here is what an evil wolf looks like:-->
    <!--<tr>-->
      <!--<td><img id="ScreenShotWolf" style="width: 64px; height: 54px" src='../assets/Images/48.jpg'/></td>-->
    <!--</tr>-->
    <tr>
      <td>Whenever you see a duck, quickly click on it with the mouse – it
        will not stay for long (~4 seconds).
      </td>
    </tr>
    <!--<tr>-->
      <!--<td>The wolves frighten the ducks.-->
        <!--<br>Therefore, <b>Whenever you see the evil wolves, quickly click on one of them to chase them away.</b>-->
      <!--</td>-->
    <!--</tr>-->
    <tr>
      <td class="style1"><strong>For each duck you click you will get a <span class="style2">bonus of 30 cents</span>.
      </strong>.</td>
    </tr>
    <tr>
      <td><strong>There are no tricks here. The
        only requirement is to have the hit active all the way to the end(i.e., <span class="style2">for
                    the entire 30 minutes</span>).<br/>
        Of course by focusing on finding the ducks you will have a chance to get bonus.</strong><br/>
      </td>
    </tr>
    <tr>
      <td class="auto-style2">Click <b>Next</b> to continue…</td>
    </tr>
  </table>
  <button [disabled]="disableNext" class="btn btn-outline-success" (click)="continueToNextView()">Next</button>
</div>
<div *ngIf="currentView == 2" style="text-align:center; align:center;">
  <h1 style="text-align:center; align:center;">Quiz</h1>
  <table class="center" style="text-align:center; align:center;">
    <tr>
      <td>
        <label id="lblQuiz1" style="color:Red;">Please answer the questions</label>
      </td>
    </tr>
    <tr>
      <td><strong style="color: green" *ngIf="q1Right">✅</strong> Q1. How much money will you get for this HIT if you
        won't spot any duck?
        <br/>
        <input type="radio" name="q1" (change)="q1Answer='10'">120 cent<br>
        <input type="radio" name="q1" (change)="q1Answer='20'">20 cent<br>
        <input type="radio" name="q1" (change)="q1Answer='30'">10 cent<br>
      </td>
    </tr>
    <tr>
      <td><strong style="color: green" *ngIf="q2Right">✅</strong> Q2. You should click:
        <br/>
        <input type="radio" name="q2" (change)="q2Answer='Ducks'"> Nothing<br>
        <input type="radio" name="q2" (change)="q2Answer='Wolves'"> Only Wolves (as they are an evil)<br>
        <input type="radio" name="q2" (change)="q2Answer='Ducks and Wolves'"> Ducks (as they give a bonus)<br>
        <!--and wolves (they frighten the ducks but dont give a bouns)-->
        <!--Ducks (as they give a bonus)-->
        <input type="radio" name="q2" (change)="q2Answer='Goats'"> Goats (as they are nice) <br>
      </td>
    </tr>
    <tr>
      <td><strong style="color: green" *ngIf="q3Right">✅</strong> Q3. A bonus of 30 cents is given for:
        <br/>
        <input type="radio" name="q3" (change)="q3Answer='Ducks'"> Each duck you click <br>
        <input type="radio" name="q3" (change)="q3Answer='Wolves'"> Each wolf you click <br>
        <input type="radio" name="q3" (change)="q3Answer='Dogs'"> Each dog you click <br>
        <input type="radio" name="q3" (change)="q3Answer='NoBonus'"> No bonus is given <br>
      </td>
      <!--<td><strong style="color: green" *ngIf="q3Right">✅</strong> Q4. What happens if you dont click on the wolves?-->
      <!--<br/>-->
        <!--<input type="radio" name="q3" (change)="q3Answer='Ducks'"> The hit will terminate <br>-->
        <!--<input type="radio" name="q3" (change)="q3Answer='Wolves'"> You will get more money<br>-->
        <!--<input type="radio" name="q3" (change)="q3Answer='Dogs'"> You might miss the duck that the wolves cover. <br>-->
        <!--<input type="radio" name="q3" (change)="q3Answer='NoBonus'"> Nothing <br>-->
      <!--</td>-->
    </tr>
  </table>
  <button class="btn btn-outline-success" (click)="continueToNextView()">Next</button>
</div>
<div *ngIf="currentView == 3" style="text-align:center; align:center;">
  <p style="text-align: center;">{{timeLeft}} Seconds Left....</p>

  <br/> <br/>

  <table style="margin: 0px auto;" *ngIf="!timeOver && !isWolvesState">
    <tr>
      <td>
        <input id="pic_0" style="height:200px;width:200px" type="image" src="{{currentPics[0]}}"
               (click)="chooseImg(0, currentPics[0])"/>
      </td>
      <td>
        <input id="pic_1" style="height:200px;width:200px" type="image" src="{{currentPics[1]}}"
               (click)="chooseImg(1, currentPics[1])"/>
      </td>
    </tr>
    <tr>
      <td>
        <input id="pic_2" style="height:200px;width:200px" type="image" src="{{currentPics[2]}}"
               (click)="chooseImg(2, currentPics[2])"/>
      </td>
      <td>
        <input id="pic_3" style="height:200px;width:200px" type="image" src="{{currentPics[3]}}"
               (click)="chooseImg(3, currentPics[3])"/>
      </td>
    </tr>
  </table>

  <!--<table style="margin: 0px auto;" *ngIf="!timeOver && isWolvesState">-->
    <!--<tr>-->
      <!--<td>-->
        <!--<input id="w_pic_0" style="height:200px;width:200px" type="image" src='../assets/Images/48.jpg'-->
               <!--(click)="chooseImgWolf()"/>-->
      <!--</td>-->
      <!--<td>-->
        <!--<input id="w_pic_1" style="height:200px;width:200px" type="image" src='../assets/Images/48.jpg'-->
               <!--(click)="chooseImgWolf()"/>-->
      <!--</td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td>-->
        <!--<input id="w_pic_2" style="height:200px;width:200px" type="image" src='../assets/Images/48.jpg'-->
               <!--(click)="chooseImgWolf()"/>-->
      <!--</td>-->
      <!--<td>-->
        <!--<input id="w_pic_3" style="height:200px;width:200px" type="image" src='../assets/Images/48.jpg'-->
               <!--(click)="chooseImgWolf()"/>-->
      <!--</td>-->
    <!--</tr>-->
  <!--</table>-->

  <br/> <br/>

  <!--<button *ngIf="isStatisticsMode" (click)="changeMode()" class="btn btn-primary">-->
  <!--Hide Tracking Info:-->
  <!--</button>-->
  <!--<button *ngIf="!isStatisticsMode" (click)="changeMode()" class="btn btn-primary">-->
  <!--Show Tracking Info:-->
  <!--</button>-->
  <br/>
  <app-user-tracker *ngIf="isStatisticsMode"></app-user-tracker>
  <button style="text-align:center; align:center;" *ngIf="timeLeft==0" class="btn btn-outline-success"
          (click)="continueToNextView()">Next
  </button>
</div>
<div *ngIf="currentView == 4" style="text-align:center; align:center;">
  <h1>Thank you! Please Answer the questions In order to get your payment: </h1>
  <table class="center">
    <tr>
      <td>Q1. Your gender:
        <br/>
        <input type="radio" name="r1" (change)="r1Answer='male'"> Male<br>
        <input type="radio" name="r1" (change)="r1Answer='female'"> Female<br>
      </td>
    </tr>
    <tr>
      <td>Q2. Your age:
        <br/>
        <input type="radio" name="r2" (change)="r2Answer='under 20'"> under 20<br>
        <input type="radio" name="r2" (change)="r2Answer='between 20 to 40'"> between 20 to 40<br>
        <input type="radio" name="r2" (change)="r2Answer='over 40'"> over 40 <br>
      </td>
    </tr>
    <tr>
      <td>Q3. The number of tasks you participated in today:
        <br/>
        <input type="radio" name="r3" (change)="r3Answer='under 10'"> under 10<br>
        <input type="radio" name="r3" (change)="r3Answer='between 10 to 25'"> between 10 to 25<br>
        <input type="radio" name="r3" (change)="r3Answer='over 25'"> over 25 <br>
      </td>
    </tr>
    <tr>
      <td>Q4. The total number of hours you worked in AMT today:
        <br/>
        <input type="radio" name="r4" (change)="r4Answer='under hour'"> under a hour<br>
        <input type="radio" name="r4" (change)="r4Answer='hour to 2 hours'"> between hour to 2 hours<br>
        <input type="radio" name="r4" (change)="r4Answer='over 2 hours'"> over 2 hours <br>
      </td>
    </tr>
    <tr>
      <th>
        <form ngNoForm name="hitForm" id="hitForm" action="https://www.mturk.com/mturk/externalSubmit" method="POST"
              #form>
          <input type="hidden" name="assignmentId" value="{{turkAss}}"/>
          <input type="hidden" name="userGender" value="{{r1Answer}}"/>
          <input type="hidden" name="userAge" value="{{r2Answer}}"/>
          <input type="hidden" name="userHitsNumber" value="{{r3Answer}}"/>
          <input type="hidden" name="userHoursSpent" value="{{r4Answer}}"/>
          <input type="hidden" name="ducksClicked" value="{{ducksClicked}}"/>
          <input type="submit" class="btn btn-primary btn-lg active" (click)="form.submit()">
        </form>
      </th>
    </tr>
  </table>
  <!--<button class="btn btn-success" (click)="finishHit()">Finish HIT</button>-->
</div>

