<!--<input type="text" id="cursorX" size="30" [value]="mouseX"> X-position of the mouse cursor-->
<!--<br />-->
<!--<input type="text" id="cursorY" size="30" [value]="mouseY"> Y-position of the mouse cursor-->
<!--<br />-->
<!--<input type="datetime" id="lastMove" size="30" [value]="lastMouseMove"> last move-->
<!--<br />-->
<!--<input type="text" id="cursorFocus" size="60" [value]="cursorInPage"> Is Cursor in page.-->
<!--<br />-->
<!--<input type="number" id="sinceLastMove" size="30" [value]="(currentDate.getTime() -lastMouseMove.getTime()) / 1000"> seconds since last movement-->
<!--<br />-->
<!--<input type="text" id="xScreen" size="30" [value]="screenWidth"> X-size of your screen-->
<!--<br />-->
<!--<input type="text" id="yScreen" size="30" [value]="screenHeight"> Y-size of your screen-->
<!--<br />-->
<!--<input type="text" id="xWindow" size="30" [value]="innerWidth"> X-size of your window-->
<!--<br />-->
<!--<input type="text" id="yWindow" size="30" [value]="innerHeight"> Y-size of your window-->
<!--<br />-->
<!--<input type="text" id="activeScreen" size="30" [value]="tabFocused"> Focus Screen-->
<!--<br />-->
<!--<input type="text" id="timezoneData" size="60" [value]="timezoneData"> LocalTime Data-->
<!--<br />-->
<!--<input type="text" id="platformData" size="60" [value]="platformData"> Platform Data-->
<!--<br />-->
<!--<input type="text" id="langsData" size="60" [value]="langsData"> Languages Data-->
<!--<br />-->
<!--<textarea id="otherInfo" rows="10" cols="50">-->
<!--</textarea> Other Data-->
<br />
